.container-projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.projects-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.projects-title {
    font-size: 3rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40rem;
    height: 30rem;
    border-radius: 2%;
    margin:1rem;
    background-color: rgb(45, 45, 45);
}

.card-container img {
    height: 15rem;
    width: 100%;
}

.card-container h3 {
    padding: 1rem;
}