.navbar {
    background-color: black;
}

.navbar-details {
    font-size: 1.3rem;
    margin-right: 2rem;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-brand img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}